body {
  background: #0f0f1b;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  width: 500px;
}

#papan2048 {
  width: 400px;
  height: 400px;
  background: #1b1c22;
  border-radius: 6px;
  padding: 3px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#papan2048::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

#papan2048::after {
  position: absolute;
  content: "";
  top: calc(400px / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(65px); /* glow effect */
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

h1 {
  color: #00c0fa;
  text-shadow: 0 0 10px #45f3ff;
  margin-top: 20px;
}

#score-container {
  margin-bottom: 10px;
  font-size: 24px;
  color: #ff2770;
  text-shadow: 0 0 5px #ff2770;
}

.lantai {
  width: 100px;
  height: 100px;
  background-color: #1a1a1a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 10px #000;
  transition: 0.2s;
}

.lantai {
  width: 90px;
  height: 90px;
  border: 5px solid #1c1c1c;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.lantai2 {
  background-color: #a5b4fc;
  color: #1e1e1e;
}

.lantai4 {
  background-color: #818cf8;
  color: #1e1e1e;
}

.lantai8 {
  background-color: #6366f1;
}

.lantai16 {
  background-color: #8b5cf6;
}

.lantai32 {
  background-color: #7c3aed;
}

.lantai64 {
  background-color: #6d28d9;
}

.lantai128 {
  background-color: #5b21b6;
}

.lantai256 {
  background-color: #4c1d95;
}

.lantai512 {
  background-color: #3730a3;
}

.lantai1024 {
  background-color: #2563eb;
}

.lantai2048 {
  background-color: #facc15;
  color: #1e1e1e;
}

.lantai4096 {
  background-color: #ca8a04;
  color: #1e1e1e;
}

.lantai8192 {
  background-color: #78350f;
  color: #f9f6f2;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
